include src/kernel/i686/make.config
include src/kernel/mm/make.config
include src/kernel/multitasking/make.config

KERNEL_OBJS=\
$(KERNEL_ARCH_OBJS)\
$(KERNEL_MM_OBJS)\
$(KERNEL_MULTITASKING_OBJS)\
src/kernel/multiboot/multiboot_parser.o\
src/kernel/init.o\
src/kernel/kprint.o\
src/kernel/kpanic.o\
src/kernel/portio.o\
src/kernel/timer.o\
src/kernel/serial.o\
src/kernel/acpi.o\
src/kernel/pci.o