
#
#	KERNEL_ARCH_CRT_I_OBJS and KERNEL_ARCH_CRT_N_OBJS are passed up
#	eventually being used in main Makefile
#

KERNEL_ARCH_CRT_I_OBJS=\
src/i686/crti.o\
src/i686/crtbegin.o

KERNEL_ARCH_CRT_N_OBJS=\
src/i686/crtend.o\
src/i686/crtn.o

KERNEL_ARCH_OBJS=\
src/i686/boot/boot.o\
src/i686/boot/multiboot.o\
src/i686/gdt.o\
src/i686/interrupt.o\
src/i686/descriptor_tables.o\
src/i686/pic.o\
src/i686/isr.o
